body {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.section-1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 70%;
}

.rjptag {
    text-align: justify;
}

.link-buttonC {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}